body {
  background-color: hsl(216, 55%, 11%);
  min-height: 100vh;
  display: flex; /* it works with grid too  */
  justify-content: center;
  align-items: center;
}

.container {
  height: 700px;
  padding: 20px;
  width: 400px;
  background-color: hsl(214, 50%, 16%);
  border: solid 5px hsl(214, 51%, 16%);
  border-radius: 20px;
}

.bottom-section {
  position: relative;
  bottom: 300px;
}

.image_one {
  height: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 410px;
  padding-right: 5px;
  border-radius: 20px;
  position: relative;
  right: 4px;
}

.relative-container {
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0px;
  padding: 0px;
  right: 726px;
  top: 163px;
}

.image_two {
  position: absolute;
  left: 721px;
  bottom: 463px;
  margin: 0px;
  padding: 0px;
  transition: 0.5s, ease;
  background-color: hsl(179, 77%, 55%);
  opacity: 0;
  padding: 175px 188px 163px 175px;
  border-radius: 20px;
  transition: opacity 0.5s ease-in; /* Smooth transition for opacity */
}

.image_two:hover {
  opacity: 0.2;
  cursor: pointer;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

h1:hover {
  color: hsl(179, 77%, 55%);
  cursor: pointer;
}

.para_one {
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: 150;
  font-size: 24px;
  word-spacing: 5px;
}

.para_two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eth {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: hsl(179, 77%, 55%);
}

.timer {
  color: hsl(215, 45%, 69%);
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

.timer img {
  position: relative;
  top: 3px;
}

hr {
  border: none;
  background-color: #eee;
  height: 5px;
  transform: scaleY(0.1);
  transform-origin: center;
  margin: 0;
}

.avatar {
  height: 40px;
  width: 40px;
  border: solid 1px white;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 10px;
}

.avatar_info p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 50px;
  left: 70px;
  transition: color 0.5s ease-in;
}

.avatar_info p:hover {
  cursor: pointer;
  color: hsl(179, 77%, 55%);
}

.avatar_info span {
  color: hsl(215, 45%, 69%);
  margin-right: 4px;
}

@media only screen and (max-width: 500px) {
  body {
  }
  .container {
    position: relative;
    bottom: 30px;
    height: 580px;
    width: 350px;
  }

  .image_one {
    height: 350px;
    width: 350px;
    position: relative;
    left: 2px;
  }

  h1 {
    font-size: 30px;
  }

  .bottom-section p {
    font-size: 20px;
  }

  .para_two,
  hr,
  .avatar_info {
    position: relative;
    bottom: 50px;
  }

  .image_two {
    padding-top: 152px;
    padding-right: 170px;
    padding-left: 140px;
    padding-bottom: 150px;
  }
}
