body {
  background-color: hsl(216, 55%, 11%);
  min-height: 100vh;
  display: flex; /* it works with grid too  */
  justify-content: center;
  align-items: center;
}

.container {
  height: 700px;
  padding: 20px;
  width: 400px;
  background-color: hsl(214, 50%, 16%);
  border: solid 5px hsl(214, 51%, 16%);
  border-radius: 20px;
}

.image_one {
  height: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 410px;
  padding-right: 5px;
  border-radius: 20px;
  position: relative;
  right: 4px;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: 600;
}

.para_one {
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: 150;
  font-size: 24px;
  word-spacing: 5px;
}

.para_two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eth {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: hsl(179, 77%, 55%);
}

.timer {
  color: hsl(215, 45%, 69%);
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

.timer img {
  position: relative;
  top: 3px;
}

hr {
  border: none;
  background-color: #eee;
  height: 5px;
  transform: scaleY(0.1);
  transform-origin: center;
  margin: 0;
}

.avatar {
  height: 40px;
  width: 40px;
  border: solid 1px white;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 10px;
}

.avatar_info p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 50px;
  left: 70px;
}

.avatar_info span {
  color: hsl(215, 45%, 69%);
  margin-right: 4px;
}
